---
// Un mini hack que te devuelve instantaneamente a la pagina principal, aunque puede ser la que tu desees
// return Astro.redirect('/');
---

<h1>Error 404</h1>
<a href="/">Go to first page</a>
<p>page not found</p>
