---
import BodyLayout from "@layouts/BodyLayout.astro";
const allPosts = await Astro.glob("../pages/data/*.md");
const pageTitle = "My Astro Learning Blog";
---

<BodyLayout pageTitle={pageTitle}>
  <a href="/">home</a>
  <p>This is where I will post about my journey learning Astro.</p>

  <br />
  <a href="./multipages/1">deep pages</a>

  <ul>
    {
      allPosts.map((post) => {
        return (
          <li>
            <a href={post.url}>{post.frontmatter.title}</a>
            <p>{post.frontmatter.description}</p>
          </li>
        );
      })
    }
  </ul>
</BodyLayout>
