---
import BodyLayout from "@layouts/BodyLayout.astro";
const pageTitle = "Second";
---

<BodyLayout pageTitle={pageTitle}>
  <h1>Second page</h1>
  <a href="/">Go to first page</a><br />
  <a href="/blogi">Go to Blogi</a>
</BodyLayout>
